<div class="reglist">
    <div class="container" *ngIf="dataLoaded">
        <h2>Message n° <div [innerHTML]="email.messageId | highlight : term"></div> </h2>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 col-sm-12">
                        <b>Mailbox : </b> <div [innerHTML]="email.mailbox | highlight : term"></div>
                        <b>User : </b> <div [innerHTML]="email.user | highlight : term"></div>
                        <b>Date : </b> <div [innerHTML]="email.date | highlight : term"></div>
                        <b>From : </b> <div [innerHTML]="email.from | highlight : term"></div>
                        <b>To : </b> <div [innerHTML]="email.to | highlight : term"></div>
                        <b>Cc : </b> <div [innerHTML]="email.cc | highlight : term"></div>
                        <b>Bcc : </b> <div [innerHTML]="email.bcc | highlight : term"></div>
                        <b>Subject : </b> <div [innerHTML]="email.subject | highlight : term"></div>
                    </div>
                </div>
            </div>
            <div class="card-body"><div style="white-space: pre-wrap;" [innerHTML]="email.content | highlight : term"></div></div>
        </div>
    </div>
</div>