<div class="reglist">

    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-10">
                <h2>
                 Message n° {{ email.messageId }} 
                </h2>
            </div>
            <div class="col-6 col-sm-2">
                <button type="button" class="btn btn-danger" (click)="close()">Fermer</button>
            </div>
        </div>
        <div class="card">
          <div class="card-header">
              <div class="row">
                  <div class="col-6 col-sm-12">
                    <p><b>Date : </b> {{ email.date }}</p>
                    <p><b>From : </b> {{ email.from }}</p>
                    <p><b>To : </b>{{ email.to }}</p>
                    <p><b>Subject : </b>{{ email.subject }}</p>
                  </div>
                </div>

          </div>
          <div class="card-body">{{ email.content }}</div> 
        </div>
      </div>
</div>
<br>