<div class=”container” align="center">
  <div>
    <h1>Easy Search</h1>
    <br>
    <div>
      <div>
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/zxyKjROBhAf3Pd" width="595" height="485" frameborder="0" marginwidth="0"
          marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
          allowfullscreen>
        </iframe>
        <div style="margin-bottom:5px">
          <strong>
            <a href="//www.slideshare.net/KevinJoaquim1/easy-search-92026452" title="Easy search" target="_blank">Easy search</a>
          </strong> 
          <strong>
            <a href="https://www.slideshare.net/KevinJoaquim1" target="_blank">Realised by Kevin, Lila, Zineb and Saman</a>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>