<div class="reglist">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <th>Occurrence Numbers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emails; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ email.date }}</td>
        <td>{{ email.from }}</td>
        <td>{{ email.to }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ i }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>