<div class="reglist">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <th>Score</th>
        <th>Occurrence Numbers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let search of searchresults; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ search.email.date }}</td>
        <td>{{ search.email.from }}</td>
        <td>{{ search.email.to }}</td>
        <td>{{ search.email.subject }}</td>
        <td>{{ search.score }}</td>
        <td>{{ search.occurencesNumber }}</td>
        <td>
          <button type="button" class="btn btn-primary" routerLink="/emaildetail/{{search.email.messageId}}">Afficher</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <span>Total elements: {{totalElements}}</span>
  <span>Total pages: {{totalPages}}</span>
  <span>Size: {{size}}</span>
</div>

<!-- pager -->
<nav>
  <ul class="pagination justify-content-end" *ngIf="pagesToShow && pagesToShow.length">
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber === 0}">
      <a class="page-link" (click)="gopage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber === 0}">
      <a class="page-link" (click)="gopage(pages.pageNumber)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pagesToShow" [ngClass]="{active:pages.pageNumber + 1 === page}">
      <a class="page-link" (click)="gopage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber + 1 === totalPages}">
      <a class="page-link" (click)="gopage(pages.pageNumber + 2)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber + 1 === totalPages}">
      <a class="page-link" (click)="gopage(totalPages)">Last</a>
    </li>
  </ul>
</nav>