 
  <div class="reglist">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emails; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ email.date }}</td>
        <td>{{ email.from }}</td>
        <td>{{ email.to }}</td>
        <td>{{ email.subject }}</td>
        <td><button type="button" class="btn btn-primary" (click)="afficher(email.messageId)">Afficher</button></td>
      </tr>
    </tbody>
  </table>
</div>
 <!--
<div class="pagination" *ngIf="count > 0">
   <span>{{ getMin() }} of {{ getMax() }} of {{ count }}</span>
    <span>{{ totalPages() }} pages</span>
    <button (click)="onPrev()" [disabled]="page === 1 || loading">Previous</button>
    <button *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)"></button>
    <button (click)="onNext()" [disabled]="lastPage() || loading">Next</button>
  </div>
-->
  

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="gopage(1)">1</a></li>
      <li class="page-item"><a class="page-link" (click)="gopage(2)">2</a></li>
      <li class="page-item"><a class="page-link" (click)="gopage(3)">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

