<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="4%">#</th>
        <th width="15%">Date</th>
        <th width="22%">From</th>
        <th width="25%">To</th>
        <th width="27%">Subject</th>
        <th width="8%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emails; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ email.date }}</td>
        <td>{{ email.from }}</td>
        <td>{{ email.to }}</td>
        <td>{{ email.subject }}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/emaildetail', email.messageId]">Afficher</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <span>Total elements: {{totalElements}}</span>
  <span>Total pages: {{totalPages}}</span>
  <span>Size: {{size}}</span>
</div>

<!-- pager -->
<nav>
  <ul class="pagination justify-content-end" *ngIf="pagesToShow && pagesToShow.length">
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber === 0}">
      <a class="page-link" (click)="gopage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber === 0}">
      <a class="page-link" (click)="gopage(pages.pageNumber)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pagesToShow" [ngClass]="{active:pages.pageNumber + 1 === page}">
      <a class="page-link" (click)="gopage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber + 1 === totalPages}">
      <a class="page-link" (click)="gopage(pages.pageNumber + 2)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pages.pageNumber + 1 === totalPages}">
      <a class="page-link" (click)="gopage(totalPages)">Last</a>
    </li>
  </ul>
</nav>