<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="3%">#</th>
        <th width="12%">Date</th>
        <th width="20%">From</th>
        <th width="23%">To</th>
        <th width="25%">Subject</th>
        <th width="5%">Score</th>
        <th width="5%">Occurs</th>
        <th width="7%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let search of searchresults; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ search.email.date }}</td>
        <td>{{ search.email.from }}</td>
        <td>{{ search.email.to }}</td>
        <td>{{ search.email.subject }}</td>
        <td>{{ search.score }}</td>
        <td>{{ search.occurencesNumber }}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/emaildetail', search.email.messageId]" [queryParams]="{ term: searchTerm }">Afficher</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- pager -->
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalElements" [(page)]="page" [pageSize]="size"
        [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="gopage($event)"></ngb-pagination>
    </div>
    <div class="col text-right">
      <mat-form-field>
        <mat-select [(ngModel)]="size" (selectionChange)="sizeChange($event.value)" placeholder="Size">
          <mat-option *ngFor="let size of possibleSize" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>