<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="all">All</a>
      </li>
    </ul>
    <div class="row">
      <div class="input-group">
        <input type="text" placeholder="Search" class="form-control mr-sm-2" [(ngModel)]="searchTerm" #ctrl="ngModel" (keyup.enter)="search()" required>
        <span class="input-group-btn">
          <button *ngIf="ctrl.valid" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
        </span>
      </div>
    </div>
  </div>
</nav>